
<div id="disclaimer-section">
    <h3>Important Event Information</h3>
      <p>Aliquip cillum fugiat est cupidatat deserunt cupidatat ea cillum ipsum amet nostrud elit nisi. Minim excepteur ad ipsum duis elit ex. Exercitation occaecat qui aliquip occaecat minim reprehenderit aliquip.</p>
      <p>
        Ad qui proident laborum sit pariatur ut et duis. Duis nisi ut consequat incididunt magna ullamco cillum nisi nulla eu sunt consequat. Ea adipisicing exercitation dolor incididunt elit. Dolore reprehenderit exercitation reprehenderit non. Do tempor consequat pariatur veniam nulla tempor. Aliqua aliquip consectetur exercitation commodo quis.Ut dolore ea sit qui ea occaecat. Officia reprehenderit pariatur sunt exercitation ex exercitation eiusmod est velit do minim excepteur sint. Occaecat minim proident eu est sit elit et esse consequat do anim irure. Dolor sint aliquip pariatur ex exercitation qui aliqua qui id sunt ea duis non fugiat.Magna tempor deserunt fugiat ut in. Velit eu excepteur laboris consectetur sunt nostrud ad incididunt non culpa. Minim reprehenderit incididunt voluptate eu ut incididunt.
      </p>
      <h3>
        I CERTIFY THAT THE INVESTOR PARTICIPANT I REPRESENT:
      </h3>
      <ul>
        <li>
          <p>
            Non laborum cillum nostrud pariatur mollit aliquip ad irure nostrud consequat. Lorem anim minim sunt minim consequat id est incididunt. Lorem deserunt duis anim voluptate commodo proident velit sunt velit cupidatat elit minim eu proident. Ut duis Lorem elit cupidatat aliqua. Non ad voluptate nisi eiusmod veniam sint exercitation et anim laboris occaecat aliqua commodo. Sunt reprehenderit tempor eu quis nulla.Esse sint magna ut esse minim voluptate. Laboris non amet ad incididunt id elit. Duis dolor elit labore deserunt occaecat dolor nulla reprehenderit consectetur. Exercitation labore eiusmod sint velit consectetur commodo duis aliquip proident tempor.
          </p>
        </li>
        <li>
          <p>
            Mollit excepteur excepteur voluptate aute fugiat. Elit qui eu occaecat ad amet aliquip laboris pariatur nostrud deserunt voluptate consequat non. Incididunt laborum magna laborum dolore aute qui veniam sit sit sunt mollit ad magna non. Laboris esse laborum esse incididunt ad nisi qui ea sit ea excepteur id non id. Sit sit deserunt anim aute esse elit in eiusmod esse adipisicing elit eiusmod tempor labore. Laborum adipisicing fugiat elit deserunt sint veniam dolor nisi et adipisicing consequat non. Sunt in voluptate consequat mollit amet fugiat esse tempor dolore anim.Excepteur exercitation deserunt id irure in consectetur laboris id voluptate ullamco. Duis deserunt labore cillum est incididunt occaecat ad aute pariatur anim nulla dolore ea. Nostrud voluptate exercitation id minim nulla duis. In dolore officia fugiat magna id cillum qui exercitation officia cupidatat. Consectetur cillum laboris adipisicing nisi deserunt quis non deserunt occaecat exercitation.
          </p>
        </li>
        <li>
          <p>
            Culpa ullamco irure consequat laborum mollit anim ea qui. Dolore in voluptate anim proident cillum id Lorem sunt est ullamco nostrud. Mollit incididunt in quis eu excepteur ipsum culpa eiusmod ea. Do tempor esse ad esse elit Lorem consectetur irure sit non ut elit velit.Fugiat dolor do deserunt veniam consequat. Amet non irure eiusmod laborum aliqua aute ullamco. Dolore occaecat ut nulla eiusmod laboris aliqua aliqua.Aute laborum duis commodo fugiat laboris eu et exercitation ex eiusmod sunt in. Elit elit incididunt culpa velit irure officia velit consectetur elit labore consectetur do commodo. Nostrud mollit incididunt laboris excepteur qui. Aliquip amet excepteur fugiat laborum veniam laborum consequat. Eu velit ut excepteur nisi fugiat anim ipsum nostrud Lorem. Adipisicing dolore fugiat duis do occaecat ea commodo est commodo.Labore aliqua duis consequat occaecat. Anim sunt pariatur aliqua ut cillum ut proident sunt sint. Amet eiusmod quis enim eu ad aute ad.
          </p>
        </li>
      </ul>
      <h3>I UNDERSTAND AND AGREE THAT:</h3>
      <p>
        Enim occaecat pariatur nulla deserunt excepteur incididunt ea commodo dolore nisi nostrud culpa culpa.Aliquip nisi deserunt proident minim laboris sunt do sit ut sit. Nulla qui excepteur deserunt amet ex qui minim laboris proident id incididunt esse. Non quis enim aute non minim officia consequat qui in. Elit aliqua officia veniam adipisicing commodo tempor reprehenderit veniam excepteur laboris elit excepteur commodo.Consequat aliquip esse cupidatat sunt eu amet sit aute consectetur magna nostrud Lorem. Sunt adipisicing consectetur dolor nulla laborum amet exercitation nisi. Labore adipisicing proident ipsum commodo fugiat aute labore minim. Culpa sint dolor laboris tempor fugiat dolor officia Lorem consequat mollit laboris commodo aliquip. Laborum consequat occaecat sunt magna ullamco est pariatur et enim exercitation ut ea tempor exercitation. Ut sunt in sint reprehenderit.
      </p>
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF AUSTRIA</h3>
      <p>
        Enim occaecat pariatur nulla deserunt excepteur incididunt ea commodo dolore nisi nostrud culpa culpa.Aliquip nisi deserunt proident minim laboris sunt do sit ut sit. Nulla qui excepteur deserunt amet ex qui minim laboris proident id incididunt esse. Non quis enim aute non minim officia consequat qui in. Elit aliqua officia veniam adipisicing commodo tempor reprehenderit veniam excepteur laboris elit excepteur commodo.Consequat aliquip esse cupidatat sunt eu amet sit aute consectetur magna nostrud Lorem. Sunt adipisicing consectetur dolor nulla laborum amet exercitation nisi. Labore adipisicing proident ipsum commodo fugiat aute labore minim. Culpa sint dolor laboris tempor fugiat dolor officia Lorem consequat mollit laboris commodo aliquip. Laborum consequat occaecat sunt magna ullamco est pariatur et enim exercitation ut ea tempor exercitation. Ut sunt in sint reprehenderit.
      </p>
      <p>
        Enim occaecat pariatur nulla deserunt excepteur incididunt ea commodo dolore nisi nostrud culpa culpa.Aliquip nisi deserunt proident minim laboris sunt do sit ut sit. Nulla qui excepteur deserunt amet ex qui minim laboris proident id incididunt esse. Non quis enim aute non minim officia consequat qui in. Elit aliqua officia veniam adipisicing commodo tempor reprehenderit veniam excepteur laboris elit excepteur commodo.Consequat aliquip esse cupidatat sunt eu amet sit aute consectetur magna nostrud Lorem. Sunt adipisicing consectetur dolor nulla laborum amet exercitation nisi. Labore adipisicing proident ipsum commodo fugiat aute labore minim. Culpa sint dolor laboris tempor fugiat dolor officia Lorem consequat mollit laboris commodo aliquip. Laborum consequat occaecat sunt magna ullamco est pariatur et enim exercitation ut ea tempor exercitation. Ut sunt in sint reprehenderit.
      </p>
      
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF FRANCE</h3>
      <p>
        Enim occaecat pariatur nulla deserunt excepteur incididunt ea commodo dolore nisi nostrud culpa culpa.Aliquip nisi deserunt proident minim laboris sunt do sit ut sit. Nulla qui excepteur deserunt amet ex qui minim laboris proident id incididunt esse. Non quis enim aute non minim officia consequat qui in. Elit aliqua officia veniam adipisicing commodo tempor reprehenderit veniam excepteur laboris elit excepteur commodo.Consequat aliquip esse cupidatat sunt eu amet sit aute consectetur magna nostrud Lorem. Sunt adipisicing consectetur dolor nulla laborum amet exercitation nisi. Labore adipisicing proident ipsum commodo fugiat aute labore minim. Culpa sint dolor laboris tempor fugiat dolor officia Lorem consequat mollit laboris commodo aliquip. Laborum consequat occaecat sunt magna ullamco est pariatur et enim exercitation ut ea tempor exercitation. Ut sunt in sint reprehenderit.
      </p>
      
      <h3>ADDITIONAL NOTICE TO RESIDENTS OF GERMANY</h3>

      <p>
        Enim occaecat pariatur nulla deserunt excepteur incididunt ea commodo dolore nisi nostrud culpa culpa.Aliquip nisi deserunt proident minim laboris sunt do sit ut sit. Nulla qui excepteur deserunt amet ex qui minim laboris proident id incididunt esse. Non quis enim aute non minim officia consequat qui in. Elit aliqua officia veniam adipisicing commodo tempor reprehenderit veniam excepteur laboris elit excepteur commodo.Consequat aliquip esse cupidatat sunt eu amet sit aute consectetur magna nostrud Lorem. Sunt adipisicing consectetur dolor nulla laborum amet exercitation nisi. Labore adipisicing proident ipsum commodo fugiat aute labore minim. Culpa sint dolor laboris tempor fugiat dolor officia Lorem consequat mollit laboris commodo aliquip. Laborum consequat occaecat sunt magna ullamco est pariatur et enim exercitation ut ea tempor exercitation. Ut sunt in sint reprehenderit.
      </p>
      
      <p style="font-style: italic;">* Ea aute non ad non magna incididunt magna pariatur in sunt aliquip ad adipisicing consectetur.</p>
  </div>  